* {
    margin: 0;
}

.container {
    border: 1px solid;
    border-radius: 30px;
    padding: 50px;
    margin: 80px;
    border-color: blueviolet;
}

.progress-bar {
    position: fixed;
    height: 10px;
    width: 100%;
}

.progress {
    margin-top: -80px;
    height: 100%;
    width: 0%;
    background-color:slateblue;
}